certifi==2020.6.20
click==7.1.2
gunicorn==20.0.4
joblib==0.15.1
mkl-fft==1.1.0
mkl-random==1.1.1
mkl-service==2.3.0
nltk==3.5
numpy==1.18.5
pandas @ file:///C:/ci/pandas_1592841747005/work
python-dateutil==2.8.1
pytz==2020.1
regex==2020.6.8
scikit-learn @ file:///C:/ci/scikit-learn_1592847564598/work
scipy @ file:///C:/ci/scipy_1592916958183/work
six==1.15.0
textblob==0.15.3
threadpoolctl @ file:///tmp/tmp9twdgx9k/threadpoolctl-2.1.0-py3-none-any.whl
tqdm==4.46.1
wincertstore==0.2
